.my-edit-window .x-window-header-default-top.x-window-header-default {
    background-color: #8aff95;
    border-color: #8aff95;
}

.my-add-window .x-window-header-default-top.x-window-header-default{
    background-color: #ff8282;
    border-color: #ff8282;
}