<meta http-equiv="Content-type" content="text/html; charset=windows-1251" />
<html>
<head>
    <link rel="stylesheet" type="text/css" href="BarsProject/extjs/resources/css/ext-all.css">
    <script type="text/javascript" src="BarsProject/extjs/ext-all-debug-w-comments.js"></script>
    <script type="text/javascript" src="BarsProject/app.js"></script>
    <link rel="stylesheet" type="text/css" href="BarsProject/app/button.css">
</head>
<body></body>
</html>